
.cloud/*
.storage/*
backups/*
custom_components/*
.DS_Store
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
secrets.yaml
www/*
